<html>
 <head>
   <title>show list of videos</title>
 </head>
 <body>
   <h1> list of video urls  </h1>
{#   <ul>#}
{#     {% for vod in video_list %}#}
{#       <li><a href="{{ vod.url }}"> {{vod.subject}} </a> </li>#}
{#     {% endfor %}#}
{#   </ul>#}
   <table>
       {% for vod in video_list %}
           <tr>
                <td><a href="{{ vod.url }}"> {{ vod.subject }}</a></td>
                <td>
{#                    POST 방식  #}
{#                    <form action="{% url 'sample_app:modify' %}" method="post">#}
{#                        {% csrf_token %}#}
{#                        <input type="hidden" name="vod_id" value="{{ vod.vod_id }}"/>#}
{#                        <input type="submit" value="Edit"/>#}
{#                    </form>#}
{#                    GET 방식 #}
                    <a href="{% url 'sample_app:update' vod.vod_id %}"> Edit </a>
{#                     <a href="{% url 'sample_app:mupdate' vod.vod_id %}"> Edit </a>#}
                </td>
{#           "{% url 'sample_app:write_ok'%}"#}
           </tr>
{#           <tr>#}
{#                <td colspan="2">{{ vod. }}</td>#}
{#           </tr>#}
       {% endfor %}
   </table>
 </body>
 {# modify하는 html로 넘어가는 버튼 기능 구현, url설계, modify()함수를 views.py에 구현 #}
</html>